
<form class="mc-form">
  <div class="form-group">
      <label for="mc-email">Email Address </label>
      <input id="mc-email" type="email" class="form-control required">
  </div>
  <div class="form-group">
      <label for="mc-fname">First Name </label>
      <input type="text" value="" name="FNAME" class="form-control" id="mc-fname">
  </div>
  <div class="no-spam">We won't send you spam. Unsubscribe at any time.</div>
  <button type="submit" class="button_signup  btn-default">Submit</button>
</form>
           
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[3]='SIGNUP';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->