<div class="blog-signup">
  <div class="container">
    <p><strong><em>Increase your creative skillset, income, and reach by creating your own app</em></strong></p>
<p><strong>Join now, to get a community invitation and free app creation guide as soon as we go live.</strong></p>

    <!-- Modal form  -->
    <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target=".bs-example-modal-lg">Join FREE</button>
    {% include modal-form.html %}
    <!-- End of modal -->
  </div>
</div>