<div class="blog-signup">
  <div class="container">
    <h2>Increase your creative skillset, income, and reach</h2>
    <p>Who would you hire? The designer who only made other people's apps, or the designer with their own app in the App Store?</p>
    <p>Movitos is here to help and encourage creative people to make apps and improve lives. Join our community. Sign up now, it's free. You will get an invitation as soon as we go live.</p>

    <!-- Modal form  -->
    <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target=".bs-example-modal-lg">Join FREE</button>
    {% include modal-form.html %}
    <!-- End of modal -->
  </div>
</div>