<div class="blog-signup">
  <div class="container">
    <h2>Increase your creative skillset, income, and reach</h2>
    <p>Movitos is a community of creatives helping and encouraging each other to make great apps and improve people's lives.</p>
<h3>Join now and you will be one of the first to get an invitation when we go live.</h3>

    <!-- Modal form  -->
    <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target=".bs-example-modal-lg">Join FREE</button>
    {% include modal-form.html %}
    <!-- End of modal -->
  </div>
</div>