<div class="blog-signup left-margin-form">
  <div class="container-fluid">
    <div class="col-md-4 col-sm-5 col-xs-12">
      <h2 class="text-center">Lorem Ipsum</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam nec velit sed porttitor. Aliquam erat volutpat. Phasellus auctor auctor nunc. Integer vulputate placerat ex, ac tincidunt ipsum.</p>

      <!-- Modal form  -->
      <button type="button" class="btn btn-primary modal-button" data-toggle="modal" data-target=".bs-example-modal-lg">Sign up</button>
      {% include modal-form.html %}
      <!-- End of modal -->
      
    </div>
  </div>
</div>