<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="signup-form">
            <div class="col-sm-4 col-xs-12">
                <img src="https://www.dropbox.com/s/7qn78fc8m0xk0q6/movitos-logo-light-green-transparent.png?dl=1" alt="logo">
                <p class="hidden-xs"></p>
            </div>
            <div class="col-sm-8 col-xs-12">
            
                <!-- drip form -->
                {% include dripform.html %}
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No, thanks</button>
      </div>
    </div>
  </div>
</div>
