
<div class="signup-form">
    <div class="col-sm-4 col-xs-12">
        <img src="/img/iw-cover.png" alt="book cover">
        <p class="hidden-xs">"At vero eos et accusamus et iusto odio dignissimos ducimus</p>
    </div>
    <div class="col-sm-8 col-xs-12">
        <h3 class="form_title">FREE Email Productivity Guide</h3>
        <p>Do you find email overwhelming? Is&nbsp;managing email on your iPhone or iPad a hassle? This FREE guide will help you take control of email.</p><p>Enter your name and email and&nbsp;download the guide.&nbsp;</p>

        {% include ajaxchimp.html %}
        
    </div>
</div>