
<div class="signup-form">
    <div class="col-sm-4 col-xs-12">
        <img src="https://www.dropbox.com/s/newzq4gabpli40c/movitos2-logo.png?dl=1" alt="book cover">
        <p class="hidden-xs"></p>
    </div>
    <div class="col-sm-8 col-xs-12">
        <h3 class="form_title">Learn to make apps that matter</h3>
        <p>I'm writing a FREE guide explaining the entire app creation process from idea to App Store.</p><p>Enter your name and email and I will send you the guide as soon as it's published.</p>

        {% include ajaxchimp.html %}
        
    </div>
</div>