@charset "UTF-8";

/* For mobile phones: */
body {
        font-family: 'Lato', sans-serif;
  font-size: 18pt;
  background-color: #f7f7f7;
}

img {
max-width: 80%;
}

h1 {font-size: 40px;}
h2 {font-size: 32px;}
h3 {font-size: 28px;}
p {
padding-left: 15px;
padding-right: 15px;
}

.wrapper {
width: 95%;
margin-left: auto;
margin-right: auto;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  body {
  font-size: 16pt;
  }

  .wrapper {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  }

  body {
  font-size: 16pt;
  }

}


blockquote {
font-style:italic;
  font-size: 24px;
  border-left: 3px solid #5aa0cf;
  padding: 6px 0 6px 35px; }
  
.pad15 {
padding-left: 15px;
padding-right: 15px;
}

.topmargin25 {margin-top: 25px}
.topmargin50 {margin-top: 50px}

.imageDiv {
display: block;
margin-right: auto;
margin-left: auto;
}

.headline, h1, h3, h2 {
font-family: 'Roboto', sans-serif;
text-align: center;
padding: 5px 15px 5px 15px;
}


.roundcorners {
border-radius:30px;
}
         
.greybg {
  background-color: #efefef;
}

.bluebg {
  background-color: #5aa0cf;
}

.orangebg {
  background-color: #F89C1C;
}


.whiteText {
  color: #fff;
}