@charset "UTF-8";

/* For mobile phones: */
body {
  width: 100%;
  font-size: 22px;
 
}

p {
padding-left: 15px;
padding-right: 15px;
}

.wrapper {
width: 80%;
margin-left: auto;
margin-right: auto;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
font-size: 18px;

.wrapper {
width: 70%;
max-width: 600px;
margin-left: auto;
margin-right: auto;
}


}


blockquote {
  border-left: 3px solid #5aa0cf;
  padding: 6px 0 6px 35px; }
  
.pad15 {
padding-left: 15px;
padding-right: 15px;
}

.topmargin25 {margin-top: 25px}
.topmargin50 {margin-top: 50px}

.imageDiv {
display: block;
margin-right: auto;
margin-left: auto;
}

.headline {
text-align: center;
}

.greybg {
  background-color: #f1f1f1;
}

.bluebg {
  background-color: #5aa0cf;
}

.whiteText {
  color: #fff;
}