---
layout: default
---

<div class="image-position">
  {% if page.image %}
    <div class="blog-page-image" style="background: url('{{ page.image }}') center/cover;"></div>
    <img src="{{ page.image }}" alt="{{ page.description }}">
  {% endif %}
</div>
<div class="post-header">
  <h1 class="post-title-main">{{ page.title }}</h1>
  {% include post-header.html %}
</div>
<div class="post-content">
  {{ content }}
</div>
<div class="post-footer">
  {% include post-footer.html %}
</div>
{% if site.data.theme.show_post_navs %}
  {% if page.previous or page.next %}
    <div class="post-navs">
      {% if page.previous %}
        <div class="col-md-6 post-nav post-nav-first">
          <div class="image-position">
            <a href="{{ page.previous.url | prepend:site.baseurl}}/">
              {% if page.previous.image %}
                <div class="blog-next-image" style="background: url('{{ page.previous.image }}') center/cover;"></div>
                <img src="{{ page.previous.image }}" alt="{{ page.previous.description }}">
              {% endif %}
            </a>
          </div>
          <h2 class="post-title-link post-next-link"><a href="{{ page.previous.url | prepend:site.baseurl }}/">{{ page.previous.title }}</a></h2>
          <h3>{{ page.previous.summary }}</h3>
          {{ page.previous.excerpt | markdownify | truncatewords: 100 }}
          <p class="text-right"><a href="{{ page.previous.url | prepend:site.baseurl }}/">Continue Reading &rarr;</a></p>
        </div>
      {% endif %}
      {% if page.next %}
        <div class="col-md-6 post-nav">
          <div class="image-position">
            <a href="{{ page.next.url | prepend:site.baseurl}}/">
              {% if page.next.image %}
                <div class="blog-next-image" style="background: url('{{ page.next.image }}') center/cover;"></div>
                <img src="{{ page.next.image }}" alt="{{ page.next.description }}">
              {% endif %}
            </a>
          </div>
          <h2 class="post-title-link post-next-link"><a href="{{ page.next.url | prepend:site.baseurl }}/">{{ page.next.title }}</a></h2>
          <h3>{{ page.next.summary }}</h3>
          {{ page.next.excerpt | markdownify | truncatewords: 100 }}
          <p class="text-right"><a href="{{ page.next.url | prepend:site.baseurl }}/">Continue Reading &rarr;</a></p>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endif %}
